<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
  </div>
     <!-- Start of container -->
     <!-- <div class="container-fluid"> -->
    <div class="container">
        <section class="row">
          <div class="col-md-12">
              <h3>Latest Mars News</h3>
              <h4> {{ scrape.news_title }} </h4>
              <p> {{ scrape.news_teaser }} </p>
          </div>
        </section>
<!-- Start first row -->
        <section class="row">
            <div class="col-md-8">
                <h3>Featured Mars Image</h3>
                <img class="img-responsive" src="{{ scrape.featured_image_url }}"  alt="Responsive image">
            </div>

            <div class="col-md-4">
             
              <div class="panel panel-default">
                <div class="panel-body">
                    <h4> Current Weather on Mars </h4>
                    <p> {{ scrape.mars_weather }} </p>
                </div>
              </div>
              
              <h3>Mars Facts</h3>
              <div class="table-responsive">
                {% for table in tables %}
                  {{ table|safe }}
                {% endfor %}
              </div>
              
            </div>

        </section>
        <!-- End first row with two columns -->
        <!-- Start second row -->
        <section class="row">
            <div class="col-md-12">
          <h1 class= 'text-center'>Mars Hemispheres</h1>
          <hr>
        </section>
   <!-- End second row -->
   <!-- Start Third Row -->
        <section class="row">
            <div class="col-md-6">
              
              <div class="panel panel-default">
                  <div class="panel-body">
                      <img class="img-responsive" src="{{ scrape.img1 }}"  alt="Valles Hemisphere">
                      <h4> {{ scrape.title1 }} </h4>
                  </div>
              </div>

            </div>

          <div class="col-md-6">
              
              <div class="panel panel-default">
                  <div class="panel-body">
                      <img class="img-responsive" src="{{ scrape.img2 }}"  alt="Cerberus Hemisphere">
                      <h4> {{ scrape.title2 }} </h4>
                  </div>
              </div>
              
            </div>

        </section>
<!-- End third row -->
<!-- Start fourth row -->
        <section class="row">
            <div class="col-md-6">
              
              <div class="panel panel-default">
                  <div class="panel-body">
                      <img class="img-responsive" src="{{ scrape.img3 }}"  alt="Valles Hemisphere">
                      <h4> {{ scrape.title3 }} </h4>
                  </div>
              </div>

            </div>

          <div class="col-md-6">
              
              <div class="panel panel-default">
                  <div class="panel-body">
                      <img class="img-responsive" src="{{ scrape.img4 }}"  alt="Cerberus Hemisphere">
                      <h4> {{ scrape.title4 }} </h4>
                  </div>
              </div>
              
            </div>

        </section>
<!-- End fourth row -->
        <!-- End of second container-fluid -->
      </div>

  </div>
      <!-- End of first container-fluid -->
    
</body>

</html>